@keyframes move {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes pulsation {
  0% {
    transform: scale(0.1);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.1);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.1);
  }
}
body {
  background-color: salmon;
  margin: 0;
}

.items-container {
  background-color: seagreen;
  margin: 25vh auto;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  width: 75vw;
  height: 50vh;
}

.item,
.i {
  background: sandybrown;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.7vw;
  height: 4vw;
  border-radius: 5px;
}

.item::before {
  content: "";
  background: steelblue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 4vw;
  height: 0.7vw;
  border-radius: 5px;
  top: 4vw;
  animation-play-state: paused;
}
.item::after {
  content: "";
  background: salmon;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 4vw;
  height: 0.7vw;
  border-radius: 5px;
  top: -4vw;
  animation-play-state: paused;
}

.i::before {
  content: "";
  background: steelblue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 4vw;
  height: 0.7vw;
  border-radius: 5px;
  top: 4vw;
  animation-play-state: paused;
}
.i::after {
  content: "";
  background: salmon;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 4vw;
  height: 0.7vw;
  border-radius: 5px;
  top: -4vw;
  animation-play-state: paused;
}

.item:nth-child(1) {
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(2) {
  animation-name: move;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(3) {
  animation-name: move;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(4) {
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(5) {
  animation-name: move;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(6) {
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(7) {
  animation-name: move;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(8) {
  animation-name: move;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(9) {
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(10) {
  animation-name: move;
  animation-duration: 11s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(11) {
  animation-name: move;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(12) {
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(13) {
  animation-name: move;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(14) {
  animation-name: move;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.item:nth-child(15) {
  animation-name: move;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.i:nth-child(1) {
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
}

.i:nth-child(2) {
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
}

.i:nth-child(3) {
  animation-name: move;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
}

.i:nth-child(4) {
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
}

.i:nth-child(5) {
  animation-name: move;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
}

.i:nth-child(6) {
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
}

.i:nth-child(7) {
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
}

.i:nth-child(8) {
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
}

.i:nth-child(9) {
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
}

.i:nth-child(10) {
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
}

.i:nth-child(11) {
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
}

.i:nth-child(12) {
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
}

.i:nth-child(13) {
  animation-name: move;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
}

.i:nth-child(14) {
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
}

.i:nth-child(15) {
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
}

.stalk-container {
  background-color: lightblue;
  position: fixed;
  right: 2vw;
  top: 6vw;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  width: 85vw;
  height: 1vh;
}

.stalk {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -1vw;
  width: 100px;
  height: 90px;
}
.stalk::before, .stalk::after {
  position: absolute;
  content: "";
  left: 40px;
  top: 0;
  width: 40px;
  height: 65px;
  background: seashell;
  border-radius: 40px 40px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.stalk::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.stalk:nth-child(1) {
  animation-name: pulsation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 6s;
}

.stalk:nth-child(2) {
  animation-name: pulsation;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 11s;
}

.stalk:nth-child(3) {
  animation-name: pulsation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 11s;
}

.stalk:nth-child(4) {
  animation-name: pulsation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 7s;
}

.stalk:nth-child(5) {
  animation-name: pulsation;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 12s;
}

.stalk:nth-child(6) {
  animation-name: pulsation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 10s;
}

.stalk:nth-child(7) {
  animation-name: pulsation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 11s;
}

.stalk:nth-child(8) {
  animation-name: pulsation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 15s;
}

.stalk:nth-child(9) {
  animation-name: pulsation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 15s;
}

.stalk:nth-child(10) {
  animation-name: pulsation;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 4s;
}

.stalk:nth-child(11) {
  animation-name: pulsation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 10s;
}

.stalk:nth-child(12) {
  animation-name: pulsation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 16s;
}

.stalk:nth-child(13) {
  animation-name: pulsation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 3s;
}

.stalk:nth-child(14) {
  animation-name: pulsation;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 3s;
}

.stalk:nth-child(15) {
  animation-name: pulsation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 13s;
}

/*# sourceMappingURL=main.css.map */
