@keyframes move {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  100% {
    transform: scaleY(1.4) rotate(360deg);
  }
}
body {
  background-color: salmon;
  margin: 0;
}

.items-container {
  background-color: seagreen;
  margin: 25vh auto;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  width: 75vw;
  height: 50vh;
}

.item {
  background: sandybrown;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1vw;
  height: 3vw;
  border-radius: 5px;
}

.i {
  background: sandybrown;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1vw;
  height: 4vw;
  border-radius: 5px;
}

.item:nth-child(1) {
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: 7;
}

.item:nth-child(2) {
  animation-name: move;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: 7;
}

.item:nth-child(3) {
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: 7;
}

.item:nth-child(4) {
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: 7;
}

.item:nth-child(5) {
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: 7;
}

.item:nth-child(6) {
  animation-name: move;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: 7;
}

.item:nth-child(7) {
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: 7;
}

.item:nth-child(8) {
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: 7;
}

.item:nth-child(9) {
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: 7;
}

.item:nth-child(10) {
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: 7;
}

.item:nth-child(11) {
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: 7;
}

.item:nth-child(12) {
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: 7;
}

.item:nth-child(13) {
  animation-name: move;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: 7;
}

.item:nth-child(14) {
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: 7;
}

.item:nth-child(15) {
  animation-name: move;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: 7;
}

.i:nth-child(1) {
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: 7;
}

.i:nth-child(2) {
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: 7;
}

.i:nth-child(3) {
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: 7;
}

.i:nth-child(4) {
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: 7;
}

.i:nth-child(5) {
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: 7;
}

.i:nth-child(6) {
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: 7;
}

.i:nth-child(7) {
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: 7;
}

.i:nth-child(8) {
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: 7;
}

.i:nth-child(9) {
  animation-name: move;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: 7;
}

.i:nth-child(10) {
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: 7;
}

.i:nth-child(11) {
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: 7;
}

.i:nth-child(12) {
  animation-name: move;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: 7;
}

.i:nth-child(13) {
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: 7;
}

.i:nth-child(14) {
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: 7;
}

.i:nth-child(15) {
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: 7;
}

/*# sourceMappingURL=main.css.map */
